.general {
	width: 75%;
}


/*navigation*/

.navname {
	
	font-size: 29px;
	color: #ffffff;
	margin-left: 20px;
	margin-top: 5px;
}

.navback {
	background-color: #00001a;
}

.navmiddle {
	margin-top: 14px;
}

.buttoncv {
	background: #ffffff;
	padding: 0 0;
	margin-left: 20px;
}

.opencv {
	margin: 0 0;
	padding: 0 0;
	color: #00001a;
	font-size: 15px;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom: 3px;
	margin-top: 0;
}



/*languages icons*/

.icons {
	margin-top: 14px;
	margin-bottom: 10px;
}

#iconuk {
	width: 25px;
	
}

#iconpl {
	width: 25px;
}

#iconru {
	width: 26px;
	
}

#iconua {
	width: 26px;
}

.idark  {
  filter: gray; 
  -webkit-filter: grayscale(1); 
  filter: grayscale(1); 
}

.idark:hover {
  -webkit-filter: grayscale(0);
  filter: none;
}

/*headers*/

.headersback {
	margin-top: 5px;
	background-color: #00001a;
}

.headers {
	color: #ffffff;
	font-size: 22px;
	margin: 0 0;
	margin-left: 20px;
}

/*personal data*/

.imgphoto {
	width: 150px;
}

.personaldata {
	margin-top: 5px;
}

.personaldata1 {
	margin-top: 25px;
}

.pd {
	font-size: 18px;
	margin-left: 20px;
}

/*skills*/

ul {
	list-style-type: none;
	padding-left: 0px;
}

li {
	font-size: 17px;
}

.glyphicon-ok-circle {
	font-size: 15px;
	padding-right: 5px;
}

.toprow {
	margin-top: 10px;
}


/*courses, education, expirience, interests*/

.dates {
	font-size: 16px;
}

.clause {
	margin-top: 30px;
}

.myinterests {
	font-size: 17px;
}

.languages {
	padding: 0 0;
	margin: 0 0;
}

.glyphicon-cloud {
	width: 10px;
	color: #00001a;
	margin-right: 10px;
	margin-top: 5px;
}

#darkleaf {
	color: gray;
}

.imginterests {
	width: 65px;
}

.enicon {
	margin-left: 72px;
}

.plicon {
	margin-left: 86px;
}

.uaicon {
	margin-left: 60px;
}

.ruicon {
	margin-left: 70px;
}

.enicon2 {
	margin-left: 72px;
}

.plicon2 {
	margin-left: 95px;
}

.uaicon2 {
	margin-left: 70px;
}

.ruicon2 {
	margin-left: 75px;
}

.enicon3 {
	margin-left: 81px;
}

.plicon3 {
	margin-left: 95px;
}

.uaicon3 {
	margin-left: 85px;
}

.ruicon3 {
	margin-left: 92px;
}

.enicon4 {
	margin-left: 84px;
}

.plicon4 {
	margin-left: 95px;
}

.uaicon4 {
	margin-left: 88px;
}

.ruicon4 {
	margin-left: 115px;
}
